* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    overflow-x: hidden;

}

/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

.Heading-sec {
    /* position: sticky;
    top: 10px; */
    z-index: 999;
}

.header-top {
    height: 100px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    /* background-color: white; */

}

.Sell1 {
    height: 80px;
    width: 270px;
    /* border: 1px solid black; */
    text-align: center;
    position: relative;
    left: 20px;
    top: 10px;

}

.h1 {
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 30px;
    color: white;

}

#Icon1 {
    color: rgb(255, 255, 255);
    font-size: 35px;
}

.Sell2 {
    height: 100px;
    width: 320px;
    /* border: 1px solid black; */
    position: relative;
    left: 500px;
    top: -80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.h2 {
    color: orangered;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);

}

.h3 {
    color: rgb(8, 158, 8);
    ;
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 5px 5px 3px rgb(0, 0, 0);

}

.icon-section {
    height: 80px;
    width: 270px;
    /* border: 1px solid black; */
    position: relative;
    left: 970px;
    top: -170px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



#ic1, #ic2, #ic3, #ic4 {
    font-size: 20px;
    background-color: rgb(4, 106, 4);
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    text-align: center;
    transition: all 0.4s linear;
    box-shadow: 1px 1px 0px rgb(83, 80, 80);
    /* animation: clr 10s linear infinite alternate; */

}

@keyframes clr {
    10% {
        background-color: #f93;
        color: aliceblue;
    }

    30% {
        background-color: black;
        color: white;

    }

    50% {
        background-color: rgb(60, 35, 151);
        color: white;

    }

    65% {
        background-color: rgb(180, 53, 163);
        color: rgb(18, 255, 10);

    }

    80% {
        background-color: rgb(255, 0, 21);
        color: white;

    }

    100% {
        background-color: rgb(0, 255, 21);
        color: black;

    }
}

#ic1:hover, #ic2:hover, #ic3:hover, #ic4:hover {
    background-color: rgb(66, 161, 250);
    color: black;
    transform: scale(1.3) translateY(5px);
}

.Nav {
    height: 60px;
    width: 100%;
    /* background-color: rgb(9, 184, 9); */

    z-index: 999;

}

.Nav ul {
    list-style: none;
    display: flex;
    justify-content: center;


}

.Nav ul li {
    width: 120px;
    height: 40px;
    line-height: 60px;
    margin-left: 20px;
}

.Nav ul li a {
    text-decoration: none;
    color: wheat;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px black;
    padding: 20px;
    transition: all 0.3s linear;
}

.Nav ul li a:hover {
    background-color: orangered;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(255, 255, 255);

}

.Dropdown {
    position: absolute;
    left: 805px;
    transform: translateY(-183px);
    z-index: 3;
}

.Dropdown ul {
    flex-direction: column;
    width: 143px;
    height: 230px;
    background-color: rgb(255, 68, 0);
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;

    transition: all 0.5s linear;

}

.Dropdown ul li {
    margin-left: 10px;
    position: relative;
    top: -15px;
}

.Nav ul li:hover .Dropdown ul {
    visibility: visible;
    opacity: 1;
    transform: translateY(200px) rotatex(360deg);

}

/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Slider CSS */

.Slider {
    height: 720px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: -160px;
    z-index: -1;
    cursor: none;
}


.container {
    display: flex;
    width: 100%;
    height: 700px;
    /* overflow: hidden; */
    /* border: 5px solid black; */

    /* overflow: auto; */
}


.item {
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    /* margin: 10px; */
    text-align: center;
    font-size: 40px;
    /* border: 1px solid black; */
    box-shadow: 4px 4px 10px black;
    overflow: hidden;
}

#i1 {
    width: 100%;
    height: 670px;
}





/* .h5 {
    font-size: 66px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: absolute;
    left: 20px;
    top: 260px;
    text-align: center;
    text-shadow: 5px 1px 1px rgb(0, 0, 0);

} */


/* .btn1 {
    position: relative;
    top: -300px;
    left: 520px;
    border: none;
    font-size: 17px;
    padding: 15px;
    width: 130px;
    background-color: rgb(3, 182, 3);
    color: white;
    border-radius: 30px;
    box-shadow: 7px 5px 5px black;
z-index: 999;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



.btn1:hover, .btn2:hover {
    color: black;
    background-color: yellow;
}

.btn2 {
    position: relative;
    top: -200px;
    left: 570px;
    border: none;
    font-size: 17px;
    padding: 15px;
    width: 130px;
    border-radius: 30px;
    background-color: orangered;
    color: white;
    animation: Home1 20s linear infinite alternate;
    box-shadow: 7px 5px 5px black;
    z-index: 999;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */


/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Section-1 CSS */

.Section-1 {
    height: 305px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    position: relative;
    top: -140px;
    cursor: none;
}


.box1 {
    height: 300px;
    width: 550px;
    /* border: 1px solid black; */
    background-color: #34AD54;
    background-image: url(bg-product-1.png);
    background-repeat: no-repeat;
    transform: rotatey(180deg);

}

.h6 {
    font-size: 33px;
    color: white;
    position: relative;
    transform: rotatey(180deg);
    top: 60px;
    left: -50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px rgb(0, 0, 0);


}

.p1 {
    font-size: 20px;
    color: white;
    transform: rotatey(180deg);
    width: 500px;
    position: relative;
    top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.box2 {
    height: 300px;
    width: 550px;
    /* border: 1px solid black; */
    background-color: #f93;
    background-image: url(bg-product-2.png);
    background-repeat: no-repeat;
    background-position-x: 260px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotatex(180deg) rotateX(180deg);



}

.h7 {
    font-size: 33px;
    color: white;
    position: relative;
    transform: rotatey(180deg);
    top: 60px;
    left: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: rotatex(180deg) rotatex(180deg);
    text-shadow: 1px 1px rgb(0, 0, 0);

}

.p2 {
    font-size: 20px;
    color: white;
    transform: rotatey(180deg);
    width: 500px;
    position: relative;
    top: 100px;
    left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transform: rotatex(180deg) rotatex(180deg);

}


/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Section-2 CSS */

.Section-2 {
    height: 730px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: -100px;
    background-color: rgba(0, 131, 55, 0.999);
    cursor: none;
}

#particles-js {
    /* background-color: rgba(0, 0, 0, 0.662); */
    height: 730px;
    width: 100%;
    position: relative;
    z-index: 999;
}

.box3 {

    height: 588px;
    width: 450px;
    position: relative;
    left: 100px;
    top: 70px;
    /* border: 5px solid #128b33; */
    animation: clr 15s linear infinite alternate;


}

@keyframes clr {
    10% {
        border: 5px solid #ffffff;

    }

    30% {
        border: 5px solid #000000;

    }

    50% {
        border: 5px solid #ff6b08;

    }


    100% {
        border: 5px solid #34AD54;


    }
}

.about-img {
    height: 550px;
    position: relative;
    top: 29px;
    left: 25px;
    z-index: -3;
}

.p3 {

    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgb(5, 5, 5);
    position: absolute;
    left: 550px;
    top: 0px;
    width: 100px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

}

.h8 {

    font-size: 45px;
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 550px;
    top: 40px;
    text-shadow: 4px 4px 1px rgb(5, 5, 5);

}

.p4 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgb(5, 5, 5);
    position: absolute;
    top: 160px;
    left: 550px;
    width: 525px;
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box4 {
    height: 260px;
    width: 260px;
    /* border: 1px solid black; */
    position: absolute;
    left: 650px;
    top: 390px;

}

.box5 {
    height: 260px;
    width: 260px;
    /* border: 1px solid black; */
    position: absolute;
    left: 925px;
    top: 390px;

}

#icon2 {
    font-size: 80px;
    position: relative;
    left: 10px;
    background: linear-gradient(rgb(7, 248, 7), rgb(255, 168, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

.h9 {
    position: relative;
    left: 30px;
    top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 1px rgb(5, 5, 5);
}

.p5 {
    position: relative;
    left: 30px;
    top: 30px;
    width: 210px;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgb(5, 5, 5);
}

#icon3 {
    font-size: 80px;
    position: relative;
    left: 30px;
    top: 3px;
    background: linear-gradient(rgb(7, 248, 7), rgb(255, 168, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.h10 {
    position: relative;
    left: 30px;
    top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 1px rgb(5, 5, 5);

}

.p6 {
    position: relative;
    left: 30px;
    top: 30px;
    width: 210px;
    line-height: 25px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px rgb(5, 5, 5);
}

/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Section-3 CSS */

.Section-3 {
    height: 700px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: -100px;
    background-color: #f93;
}

.row1 {
    height: 378px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.row-box1 {
    height: 350px;
    width: 330px;
    /* border: 1px solid black; */
    position: relative;
    left: 30px;
    top: 10px;
}

.p7 {
    position: relative;
    left: 5px;
    top: 7px;
    color: #34AD54;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;

}

.h11 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 20px;
}

.p8 {
    position: relative;
    font-size: 17px;
    position: relative;
    top: 40px;
    width: 300px;
    text-align: justify;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn3 {
    position: relative;
    top: 80px;
    left: 525px;
    padding: 10px;
    width: 150px;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 20px;
    background-color: #2cd359;
}

.row-box2 {
    height: 350px;
    width: 360px;
    /* border: 1px solid black; */
    position: relative;
    left: 0px;
    top: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px gray;
    transition: all 0.5s linear;
}

#icon4 {
    font-size: 110px;
    position: relative;
    left: 140px;
    top: 40px;
    background: linear-gradient(green, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.row-box2:hover, .row-box3:hover {
    background-color: #2be05b;
}



.h12 {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p9 {
    position: relative;
    top: 90px;
    left: 50px;
    color: black;
    width: 260px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.row-box3 {
    height: 350px;
    width: 360px;
    /* border: 1px solid black; */
    position: relative;
    left: -30px;
    top: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px gray;
    transition: all 0.5s linear;
}


#icon5 {
    font-size: 110px;
    position: relative;
    left: 130px;
    top: 40px;
    background: linear-gradient(green, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.h13 {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p10 {
    position: relative;
    top: 90px;
    left: 50px;
    color: black;
    width: 260px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.row2 {
    height: 378px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 20px;
}

.row-box4:hover, .row-box5:hover, .row-box6:hover {
    background-color: #2be05b;
}

.row-box4 {
    height: 350px;
    width: 360px;
    /* border: 1px solid black; */
    position: relative;
    left: 10px;
    top: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px gray;
    transition: all 0.5s linear;
}

.h14 {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p11 {
    position: relative;
    top: 90px;
    left: 50px;
    color: black;
    width: 260px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#icon6 {
    font-size: 110px;
    position: relative;
    left: 120px;
    top: 40px;
    background: linear-gradient(green, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.row-box5 {
    height: 350px;
    width: 360px;
    /* border: 1px solid black; */
    position: relative;
    left: -15px;
    top: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px gray;
    transition: all 0.5s linear;
}

.h15 {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p12 {
    position: relative;
    top: 90px;
    left: 50px;
    color: black;
    width: 260px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#icon7 {
    font-size: 100px;
    position: relative;
    left: 120px;
    top: 45px;
    background: linear-gradient(green, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.row-box6 {
    height: 350px;
    width: 360px;
    /* border: 1px solid black; */
    position: relative;
    left: -34px;
    top: 10px;
    background-color: white;
    box-shadow: 1px 1px 5px 0px gray;
    transition: all 0.5s linear;
}

.h16 {
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p13 {
    position: relative;
    top: 90px;
    left: 50px;
    color: black;
    width: 260px;
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#icon8 {
    font-size: 110px;
    position: relative;
    left: 120px;
    top: 45px;
    background: linear-gradient(green, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#icon4:hover, #icon5:hover, #icon6:hover, #icon7:hover, #icon8:hover {
    background: linear-gradient(rgb(252, 186, 5), rgb(255, 114, 19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



.counter_sec {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    position: relative;
    top: -10px;
    justify-content: space-evenly;
    background-image: url(carousel-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.Model1,
.Model2,
.Model3,
.Model4 {
    height: 200px;
    width: 200px;
    background-color: rgba(255, 173, 9, 0.795);
    border-radius: 10px;
    box-shadow: 5px 10px 6px rgb(0, 0, 0);
}

.head-1 {
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 50px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 4px rgb(0, 0, 0);
}

.counter {
    font-size: 40px;
    color: white;
    position: relative;
    top: 70px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 4px rgb(0, 0, 0);
}

/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Section-4 CSS */

.Section-4 {
    height: 700px;
    width: 100%;
    background-color: #34AD54;
    position: relative;
    top: -50px;
}

.p14 {
    text-align: center;
    position: relative;
    top: 70px;
    color: rgb(255, 156, 8);
    font-weight: bolder;
    font-size: 18px;
    text-shadow: 1px 1px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h17 {
    text-align: center;
    position: relative;
    top: 80px;
    left: 30px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 2px 7px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Main-box {
    height: 500px;
    width: 500px;
    background-color: white;
    position: relative;
    left: 400px;
    top: 130px;

}

.Feature-img {
    height: 260px;
    position: relative;
    top: 230px;
    left: 25px;
}

.p15 {
    position: relative;
    top: -220px;
    left: 45px;
    width: 400px;
    text-align: center;
    line-height: 27px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.i-box1 {
    height: 200px;
    width: 250px;
    /* border: 1px solid black; */
    position: relative;
    top: -380px;
    left: 100px;
}

#icon9 {
    font-size: 40px;
    position: relative;
    left: 20px;
    top: 20px;
    color: white;
    background-color: #f93;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-shadow: 2px 3px black;


}

.h18 {
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 30px;
    left: 20px;
    text-shadow: 2px 3px black;


}

.p16 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 40px;
    width: 200px;
    left: 20px;
    color: white;

}

.i-box2 {
    height: 200px;
    width: 250px;
    /* border: 1px solid black; */
    position: relative;
    top: -330px;
    left: 100px;
}

#icon10 {
    font-size: 40px;
    width: 60px;
    position: relative;
    left: 20px;
    top: 20px;
    text-align: center;
    color: white;
    background-color: #f93;
    padding: 10px;
    border-radius: 50%;
    text-shadow: 2px 3px black;

}

.h19 {
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 30px;
    left: 20px;
    text-shadow: 2px 3px black;

}

.p17 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 40px;
    width: 200px;
    left: 20px;
    color: white;

}

.i-box3 {
    height: 200px;
    width: 250px;
    /* border: 1px solid black; */
    position: relative;
    top: -780px;
    left: 950px;
}

#icon11 {
    font-size: 30px;
    position: relative;
    height: 55px;
    text-align: center;
    left: 20px;
    top: 20px;
    color: white;
    background-color: #f93;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-shadow: 2px 3px black;


}

.h20 {
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 30px;
    left: 20px;
    text-shadow: 2px 3px black;

}

.p18 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 40px;
    width: 200px;
    left: 20px;
    color: white;

}

.i-box4 {
    height: 200px;
    width: 250px;
    /* border: 1px solid black; */
    position: relative;
    top: -730px;
    left: 950px;
}

#icon12 {
    font-size: 30px;
    position: relative;
    height: 55px;
    width: 55px;
    text-align: center;
    text-align: center;
    left: 20px;
    top: 20px;
    color: white;
    background-color: #f93;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    text-shadow: 2px 3px black;


}

.h21 {
    font-size: 30px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 30px;
    left: 20px;
    text-shadow: 2px 3px black;


}

.p19 {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 40px;
    width: 200px;
    left: 20px;
    color: white;

}


/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Section-5 CSS */


.Section-5 {
    height: 700px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: 100px;
}

.p20 {
    text-align: center;
    position: relative;
    top: 70px;
    color: #2cd359;
    font-size: 18px;
    font-weight: bolder;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h22 {
    text-align: center;
    position: relative;
    top: 80px;
    color: #f93;
    font-size: 50px;
    text-shadow: 2px 4px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Background {
    width: 90%;
    height: 210px;
    background-color: #34AD54;
    position: relative;
    left: 65px;
    top: 340px;
    overflow: hidden;
    z-index: -1;

}

.Bg-img1 {
    position: relative;
    left: -80px;
    top: -37px;
}

.Bg-img2 {
    position: relative;
    left: 700px;
    top: -57px;
    height: 250px;
}

.shop-section {
    display: flex;
    justify-content: space-evenly;
    perspective: 1000px;
}


.shop1, .shop2, .shop3, .shop4 {
    height: 300px;
    width: 200px;
    background-color: white;
    /* border: 1px solid black; */
    position: relative;
    box-shadow: 1px 1px 6px gray;
    top: -60px;

}


.shop-1-img {
    position: relative;
    height: 180px;
    left: 10px;
}

.h23 {
    font-size: 21px;
    text-align: center;
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p21 {
    color: #34AD54;
    font-size: 23px;
    font-weight: bolder;
    position: relative;
    top: 50px;
    text-align: center;
    /* z-index: -1; */
}

.button-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top: 100px;
    opacity: 0;
    transition: all 0.4s linear;
}

.btn4 {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f93;
}

.btn5 {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #34AD54;
}

#icon13, #icon14 {
    font-size: 20px;
}


.shop1:hover .button-hover {
    transform: translateY(-100px);
    opacity: 1;
}



.shop-2-img {
    position: relative;
    height: 190px;
    left: 10px;
}

.h24 {
    font-size: 21px;
    text-align: center;
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p22 {
    color: #34AD54;
    font-size: 23px;
    font-weight: bolder;
    position: relative;
    top: 40px;
    text-align: center;
}

.button-hover1 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top: 100px;
    opacity: 0;
    transition: all 0.4s linear;
}

.btn6 {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f93;
}

.btn7 {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #34AD54;

}

#icon15, #icon16 {
    font-size: 20px;
}


.shop2:hover .button-hover1 {
    transform: translateY(-100px);
    opacity: 1;
}

.shop-3-img {
    position: relative;
    height: 190px;
    left: 10px;
}

.h25 {
    font-size: 21px;
    text-align: center;
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p23 {
    color: #34AD54;
    font-size: 23px;
    font-weight: bolder;
    position: relative;
    top: 40px;
    text-align: center;
}

.button-hover2 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top: 100px;
    opacity: 0;
    transition: all 0.4s linear;
}

.btn8 {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f93;
}

.btn9 {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #34AD54;

}

#icon17, #icon18 {
    font-size: 20px;
}


.shop3:hover .button-hover2 {
    transform: translateY(-100px);
    opacity: 1;
}

.shop-4-img {
    position: relative;
    height: 190px;
    left: 10px;
}

.h26 {
    font-size: 21px;
    text-align: center;
    position: relative;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.p24 {
    color: #34AD54;
    font-size: 23px;
    font-weight: bolder;
    position: relative;
    top: 50px;
    text-align: center;
}



.button-hover3 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    top: 100px;
    opacity: 0;
    transition: all 0.4s linear;
}

.btn10 {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f93;
}

.btn11 {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #34AD54;

}

#icon19, #icon20 {
    font-size: 20px;
}


.shop4:hover .button-hover3 {
    transform: translateY(-100px);
    opacity: 1;
}


/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Section-6 CSS */

.Section-6 {
    height: 820px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: 100px;
}

.p25 {
    text-align: center;
    font-size: 20px;
    color: #34AD54;
    font-weight: 400px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    top: 50px;
}

.h27 {
    text-align: center;
    position: relative;
    top: 80px;
    color: rgb(16, 58, 16);
    font-size: 50px;
    text-shadow: 2px 2px 0px 6px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Profile-section {
    height: 500px;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#ic-1, #ic-2, #ic-3, #ic-4 {
    font-size: 20px;
    text-align: center;
    width: 40px;
    background-color: white;
    padding: 10px;
    position: relative;
    border-radius: 50%;
    color: orangered;

}

/* .Content1 {
    height: 400px;
    width: 350px;
    background-color: rgba(19, 14, 4, 0.514);
    position: absolute;
    top: -400px;
    transition: all 0.4s linear;
} */

.Content1 .btn12 {
    position: relative;
    top: 180px;
    left: 90px;
    border: none;
    font-size: 17px;
    padding: 10px;
    background-color: black;
    color: white;
}

.Profile-1:hover .Content1, .Profile-2:hover .Content1, .Profile-3:hover .Content1 {
    transform: translateY(400px);
}



.Profile-1, .Profile-2, .Profile-3 {
    height: 400px;
    width: 350px;
    /* border: 1px solid red; */
    position: relative;
    overflow: hidden;
}


.Team1-img, .Team2-img, .Team3-img {
    height: 400px;
    width: 290px;
}

.icon-section-1, .icon-section-2, .icon-section-3 {
    height: 400px;
    width: 60px;
    background-color: #f93;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

.Name {
    height: 100px;
    width: 350px;
    background-color: #34ad54d2;
    position: relative;
    top: -105px;
}

.h28 {
    position: relative;
    top: 20px;
    left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: white;
    text-shadow: 2px 4px black;
}

.p26 {
    position: relative;
    left: 100px;
    top: 20px;
    font-size: 18px;
    color: white;
}

.p27 {
    position: relative;
    left: 90px;
    top: 20px;
    font-size: 18px;
    color: white;
}

.p28 {
    position: relative;
    left: 88px;
    top: 20px;
    font-size: 18px;
    color: white;
}


/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Section-7 CSS */

.Section-7 {
    height: 730px;
    width: 100%;
    position: relative;
    top: 40px;
    /* border: 1px solid black; */
}

.p29 {
    text-align: center;
    position: relative;
    top: 40px;
    color: #34AD54;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h29 {
    text-align: center;
    position: relative;
    top: 80px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Profile-section-1 {
    height: 500px;
    width: 100%;
    /* border: 2px solid red; */
    position: relative;
    top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Profile-A {
    height: 402px;
    width: 292px;
    /* border: 1px solid black; */
    overflow: hidden;

}

.Blog1-img {
    height: 400px;
    width: 290px;
    transition: all 0.4s linear;
}

.Profile-A:hover .Blog1-img {
    transform: scale(1.2);
}

.Name1 {
    height: 400px;
    width: 290px;
    background-color: #0ece4163;
    position: absolute;
    top: 49px;
}

.h30 {
    position: relative;
    top: 280px;
    font-size: 20px;
    left: 20px;
    color: white;
    text-shadow: 1px 1px black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.p30 {
    position: relative;
    top: 300px;
    font-size: 17px;
    color: white;
    text-shadow: 1px 1px black;
    left: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */


/* Footer Css Here... */

footer {
    height: 400px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: 90px;
}

.fotter-img {
    position: relative;
    top: 205px;
}

.Background-layer {
    height: 400px;
    width: 100%;
    background-color: #34ad54bb;
    position: relative;
    top: -200px;

}

.fotter-section {
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.FBox-1 {
    height: 360px;
    width: 250px;
    /* border: 1px solid black; */

}

.FBox-2 {
    height: 360px;
    width: 250px;
    /* border: 1px solid black; */
}

.FBox-3 {
    height: 360px;
    width: 250px;
    /* border: 1px solid black; */
}

.FBox-4 {
    height: 460px;
    width: 300px;
    /* border: 1px solid black; */
    position: relative;
    top: -50px;
    background-color: #f93;
    box-shadow: 1px 1px 2px black;


}

.p31 {
    color: white;
    position: relative;
    top: 20px;
    left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 29px;
    text-shadow: 1px 1px black;

}

#top1 {
    position: relative;
    top: 40px;
    left: 10px;
    text-shadow: 1px 1px 1px white;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}


#top2 {
    position: relative;
    top: 70px;
    left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px white;
    text-shadow: 1px 1px 1px white;

}


#top3 {
    position: relative;
    top: 100px;
    left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-shadow: 1px 1px 1px white;

}

.Fottor-icon {
    position: relative;
    top: 150px;
    left: -10px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}


#iF1, #iF2, #iF3, #iF4 {
    font-size: 20px;
    background-color: rgb(252, 85, 8);
    padding: 10px;
    color: white;
    border-radius: 50%;
    width: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(7, 7, 7);

    transition: all 0.4s linear;
    box-shadow: 1px 1px 4px rgb(0, 0, 0);

}

#iF1:hover, #iF2:hover, #iF3:hover, #iF4:hover {
    background-color: rgb(66, 161, 250);
    color: black;
    transform: scale(1.3) translateY(5px);
}

.FBox-2 p {
    position: relative;
    top: 14px;
    line-height: 50px;
    padding-left: 10px;
    text-shadow: 1px 1px 1px white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.FBox-2 p:hover, .FBox-3 p:hover {
    color: orangered;
}


.FBox-3 p {
    position: relative;
    top: 14px;
    line-height: 50px;
    padding-left: 10px;
    text-shadow: 1px 1px 1px white;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.h31 {
    text-shadow: 1px 1px white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 23px;
    position: relative;
    top: 30px;
}

.p32 {
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 40px;
}

.p33 {
    font-size: 18px;
    text-align: center;
    position: relative;
    top: 50px;
    width: 260px;
    left: 20px;

}

form {
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    left: 40px;
    width: 200px;
    box-shadow: 2px 3px 3px black;

}

.in1 {
    width: 140px;
    height: 40px;
    border: none;

}

.in2 {
    width: 80px;
    height: 40px;
    border: none;
    background-color: #2cd359;
}


iframe {
    position: relative;
    left: 40px;
    top: 100px;
    height: 200px;
    width: 210px;
    border-radius: 10px;
}


.Copyright {
    width: 100%;
    height: 80px;
    background-color: rgb(8, 8, 82);
    position: relative;
    top: -59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p34 {
    color: #f93;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.p35 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    position: relative;
    left: 10px;
}

.p36 {
    color: #f93;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    position: relative;
    left: 20px;
}

.Backbtn {
    height: 50px;
    width: 50px;
    background-color: #f93;
    position: fixed;
    right: 30px;
    bottom: 40px;
    border-radius: 50%;
    text-align: center;
}

#Top {
    font-size: 25px;
    color: white;
    position: relative;
    /* left: 7px; */
    top: 10px;
}

/* Gallary Plugin CSS  Here...*/

#container {
    margin: 150px auto;
    width: 900px;
    height: 600px;
    overflow: hidden;
}

#gridacord-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    overflow: hidden;
}

#container .line {
    display: flex;
    width: 100%;
    overflow: hidden;
    outline: 5px solid #fafafa;
    z-index: 5;
}

#container .line .item {
    height: 100%;
    overflow: hidden;
    outline: 5px solid #fafafa;
    z-index: 5;
}

#container .item img {
    position: relative;
    transition: filter 1s ease-in-out;
    -webkit-transition: -webkit-filter 1s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#container .item:hover>img {
    transition: filter 0.8s ease-in-out;
    -webkit-transition: -webkit-filter 1s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    width: 180vh;
    height: 80vh;
}


/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */


/* Gallary Plugin CSS  Here...*/

#container {
    margin: 150px auto;
    width: 900px;
    height: 600px;
    overflow: hidden;
}

#gridacord-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    overflow: hidden;
}

#container .line {
    display: flex;
    width: 100%;
    overflow: hidden;
    outline: 5px solid #fafafa;
    z-index: 5;
}

#container .line .item {
    height: 100%;
    overflow: hidden;
    outline: 5px solid #fafafa;
    z-index: 5;
}

#container .item img {
    position: relative;
    transition: filter 1s ease-in-out;
    -webkit-transition: -webkit-filter 1s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#container .item:hover>img {
    transition: filter 0.8s ease-in-out;
    -webkit-transition: -webkit-filter 1s ease-in-out;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    width: 180vh;
    height: 80vh;
}



/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */

/* Pointer Js CSS Here... */

.cursor {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.cursor:nth-child(1) {
    background-color: #000000;
    z-index: 1;
}

.cursor:nth-child(2) {
    background-color: #fff;
    z-index: 111;
}

/* --------------------------------------------------------------------------------------------------------------- -- */
/* --------------------------------------------------------------------------------------------------------------- - */